html, body {
  margin: 0;
  font-family: 'Calibri', 'Trebuchet MS', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 22px;
}

.display-flex {
  display: flex;
}

.wide {
  width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.margin-t-2 {
  margin-top: 8px;
}

.margin-l-2 {
  margin-left: 8px;
}

.margin-h-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.theme_dark {
  background-color: #222222;
  color: white;
}

.theme_blue {
  background-color: #3ca1ff;
  color: white;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
}

.modal_card {
  background: white;
  padding: 25px;
  border: 3px solid black;
  border-radius: 5px;
}
