.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.25);
}

.modalCard {
  background: white;
  padding: 10px;
  border: 3px solid black;
  border-radius: 5px;
}

.closeButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}
